.feedback-comment {
  font-style: italic;
  margin-bottom: 8px;
}

.feedback-item {
  margin-bottom: 32px;
}

@media (min-width: 1024px) {
  .feedback-item {
    max-width: 33%;
    margin-left: 33%;
  }
}
