.intro {
  padding: 25px;
  background-color: var(--color-1);
}

.headline {
  text-align: center;
  font-size: 40px;
  margin: 15px 0 30px 0;
}

.mobile-profpic {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.mobile-profpic img {
  height: 280px;
  width: 280px;
  border-radius: 50%;
}

.intro-link {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--title-font);
  color: var(--color-3);
  font-size: 20px;
  cursor: pointer;
}

.intro-icon {
  margin-left: 5px;
  font-size: 24px;
}

.intro-text {
  font-size: 20px;
}

.desktop-middle,
.desktop-right {
  display: none;
}

@media (min-width: 768px) {
  .intro {
    padding: 50px 120px;
  }
  .headline {
    font-size: 48px;
  }
}

@media (min-width: 1025px) {
  .intro {
    margin: 0;
    padding: 0;
  }

  .headline {
    text-align: left;
    padding-left: 8px;
    border-left: 5px solid var(--color-2);
  }

  .mobile-profpic {
    display: none;
  }

  .desktop-parent {
    display: grid;
    grid-template-columns: 65% 30% 5%;
  }

  .desktop-left {
    padding-top: 70px;
    width: 100%;
  }

  .desktop-middle {
    display: block;
    width: 100%;
  }

  .profilepic-L {
    height: 700px;
    width: auto;
  }

  .desktop-right {
    display: block;
    background-color: var(--color-2);
    width: 100%;
  }

  .intro-text-container {
    text-align: left;
    margin-right: 200px;
  }
}
