.visually-hidden {
  display: none;
}

.language-selector {
  border: none;
  padding: 5px;
  background-color: transparent;
  font-weight: 500;
  color: black;
}

@media (min-width: 1025px) {
  .language-selector {
    color: white;
  }
}
