:root {
  --color-1: #ededed;
  --color-2: #3c5833;
  --color-3: #580808;
  --color-4: #d9d9d9;

  --title-font: "Krona One", sans-serif;
  --p-font: "Krub", sans-serif;
}

.intro,
.skills,
.contact {
  padding: 25px;
  background-color: var(--color-1);
}

.projects,
.contact {
  padding: 25px;
  background-color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: var(--title-font);
}

p {
  font-family: var(--p-font);
}

.title {
  text-align: center;
  font-size: 40px;
  margin: 15px 0 30px 0;
}

@media (min-width: 375px) {
  .title {
    font-size: 48px;
  }
}
